// *****************************************************************************
// Close styles overrides
//
// Copy css rules from `"node_modules/bootstrap/scss/_close.scss` to this file
// to override default ones.
// *****************************************************************************

@import "../node_modules/bootstrap/scss/close";
