// *****************************************************************************
// Jumbotron styles overrides
//
// Copy css rules from `"node_modules/bootstrap/scss/_jumbotron.scss` to this file
// to override default ones.
// *****************************************************************************

@import "../node_modules/bootstrap/scss/jumbotron";
