// *****************************************************************************
// List Group styles overrides
//
// Copy css rules from `"node_modules/bootstrap/scss/_list-group.scss` to this file
// to override default ones.
// *****************************************************************************

@import "../node_modules/bootstrap/scss/list-group";
