// *****************************************************************************
// Pagination styles overrides
//
// Copy css rules from `"node_modules/bootstrap/scss/_pagination.scss` to this file
// to override default ones.
// *****************************************************************************

@import "../node_modules/bootstrap/scss/pagination";
