// *****************************************************************************
// Progress bar styles overrides
//
// Copy css rules from `"node_modules/bootstrap/scss/_progress.scss` to this file
// to override default ones.
// *****************************************************************************

@import "../node_modules/bootstrap/scss/progress";
