// *****************************************************************************
// Responsive Embed styles overrides
//
// Copy css rules from `"node_modules/bootstrap/scss/_responsive-embed.scss` to this file
// to override default ones.
// *****************************************************************************

@import "../node_modules/bootstrap/scss/responsive-embed";
