// *****************************************************************************
// Tooltip styles overrides
//
// Copy css rules from `"node_modules/bootstrap/scss/_tooltip.scss` to this file
// to override default ones.
// *****************************************************************************

@import "../node_modules/bootstrap/scss/tooltip";
